body{
    margin:0;
    padding:0;
    background-color:#090909;
    font-family: monospace;
    text-align: center;
}


h1{font-size: 35px;}
h2{font-size: 32px;}
h3{font-size: 28px;}
p, a{font-size: 25px;}


body, nav a{color: #fff;}










/*common used css codes*/
header,
#space{display: flex; align-items: center;}









/*styling the header*/
header{
    height:100px;
    background-color:#000;
    flex-direction: row;
}


#nav-logo,
nav{margin-left:100px;}




nav a{text-decoration: none; margin:0 20px;}

nav a:hover,
#active{color:#654FFF;}









/*Styling the first element in the main element*/
#space{
    background-image: url("../images/space.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#space img{height:200; width:250px;}








/*Styling the games section of the main element*/
#monthly{
    margin-top:300px;
    border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games{
    display: flex;
    flex-direction: row;
    width:1200px;
    border: solid blue;
    justify-content: center;
}

#second{margin-top:100px;}

.box{height:100px; width:100px; border: solid yellow; margin-left:100px;}