body{
    margin:0;
    padding:0;
    background-color:#090909;
    font-family: monospace;
    text-align: center;
    
}


h1{font-size: 35px;}
h2{font-size: 32px;}
h3{font-size: 28px;}
p, a, i, #displayCart div{font-size: 25px;}


body, nav a{color: #fff;}




/*common used css codes*/
body,
header,
#space,
section,
main{display: flex;}


body,
main,
#space{flex-direction: column;}


header,
#space,
main,
section{align-items: center;}


header,
section{flex-direction: row;}



/*styling the header*/
header{height:100px; background-color:#000;}


#nav-logo, nav{margin-left:100px;}




nav a{margin:0 20px;}

nav a {text-decoration: none;}

nav a:hover,
#active{color:#654FFF;}





/*Styling the first element in the main element*/
#space{
    background-image: url("../images/space.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#space img{height:200; width:250px;}




h2{margin-top:100px;}


























/*Home page*/
#section-1{
    width:1400px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

#section-1 img{
    height:200px;
    width:150px;
    margin:20px 50px;
}

select{
    font-size: 20px;
    color: #654FFF;
    background-color:#303030;
}
























/*Making style adjustments on the product page*/

#gameInfo{
    height:400px;
    width:1000px;
    margin-top:50px;
    text-align: left;
    background-color: #000;
    padding: 30px;
}

#gameInfo img{height:300px; width:250px;}

#gameInfo div{margin-top:-100px; margin-left:40px;}

#add-button{
    font-size:16px;
    padding: 10px;
    border-radius: 50px;
    background-color:#d68203;
    color: #fff;
    font-weight: bold;
    position: absolute;
    margin-left:275px;
    margin-top:250px;
}

#add-button:hover{background-color: #654FFF;}
























/*Styling the checkout page*/
#displayCart{
    width:1000px;
    margin-top:100px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; 
}

#displayCart h2{
    border-bottom: 2px solid #654FFF; 
    margin-top:0px;
    line-height: 60px;
}

#cartItem{
    display: flex;
    flex-direction: row;
    width:500px;
    border-bottom: solid white;
    margin-top:20px; 
    align-items: center;
}

#cartItem i{margin-left:50px; font-size: 30px;}
#cartItem i:hover{color: #ff0000;}

#items img{height:200px; width:150px;}

#gameInformation{
    text-align: left;
    padding: 0 20px;
}













/*Confirmation page*/
#confirmation{
    background-color:#000;
    padding:30px; 
    margin-top: 100px;
    width: 1200px;
    flex-direction: column;
}

#confirmation h2{margin-top:0px;}

#confirmation button{
    font-size: 20px;
    color:#654FFF;
    background-color:#303030;
}








/*Making the footer*/
footer{
    background-color:#000;
    height:200px;
    margin-top:100px
}